/*---------------------------------------
    BODY              
-----------------------------------------*/

body {
    background: #ffffff;
    font-family: 'IranSans', sans-serif;
    font-style: normal;
    font-weight: 300;
    text-align: right;
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

@font-face {
    font-family: 'IranSans';
    src: url('../fonts/IRANSansWeb_Light.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'IranSans';
    src: url('../fonts/IRANSansWeb_Bold.woff') format('woff');
    font-weight: bold;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
}

h1 {
    font-family: 'IranSans', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
    padding-bottom: 12px;
}

h2 {
    color: #4caf50;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

p {
    color: #888;
    font-size: 20px;
    line-height: 34px;
}

a {
    color: #4caf50;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
    color: #4caf50;
    outline: none;
}


/*---------------------------------------
    Main Navigation             
-----------------------------------------*/

.navbar-default {
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
    border: none;
    margin-bottom: 0px !important;
}

.navbar-default .navbar-brand {
    color: #304352;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
}

.navbar-default .navbar-nav {
    direction: rtl;
}

.navbar-default .navbar-nav li a {
    font-family: 'IranSans', sans-serif;
    color: rgb(30, 30, 30);
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 22px;
    padding-left: 22px;
}

.navbar-default .navbar-nav li a span {
    position: relative;
    display: block;
    padding-bottom: 2px;
}

.navbar-default .navbar-nav li a span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav li a:hover span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-default .navbar-nav li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #304352;
}

.navbar-default .navbar-nav>li a:hover {
    color: #4caf50 !important;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #4caf50;
    background-color: transparent;
}


/*---------------------------------------
    HOME SECTIONS             
-----------------------------------------*/

#home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin-bottom: 150px;
    background: url('../images/header.jpg');
    background-size: 100% 100%;
}

#home h1 {
    color: #ffffff;
}

#home .col-md-8 {
    padding-left: 62px;
}


/*---------------------------------------
    ABOUT SECTION             
-----------------------------------------*/

#about .about-thumb {
    width: 100%;
}

#about .about-content {
    text-align: right;
}

.meter {
    height: 20px;
    /* Can be anything */
    position: relative;
    background: #eeeeee;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter>span {
    display: block;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient( center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    /* box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4); */
    position: relative;
    overflow: hidden;
}

@keyframes expandWidth {
    0% {
        width: 0;
    }
    100% {
        width: auto;
    }
}


/*---------------------------------------
    Team Section              
-----------------------------------------*/

#team {
    background: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}

#team .staff-members {
    padding-top: 50px;
    padding-bottom: 50px;
}

#team .item {
    margin-top: 20px;
}

#team .about-thumb {
    background: #ffffff;
    border-radius: 4px;
    padding: 100px;
    position: relative;
}

#team .about-img img {
    border: 8px solid #ffffff;
    position: absolute;
    left: -120px;
    bottom: -325px;
    padding: 12px;
}

#team .team-thumb {
    width: 300px;
    height: 400px;
    margin: auto;
    text-align: center;
    background: #ffffff;
    border-radius: 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.075);
    -o-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

#team .team-info {
    position: absolute;
    height: auto;
    width: 100%;
    overflow: hidden;
}

#team .team-thumb .image-holder {
    width: 240px;
    height: 240px;
    position: relative;
    top: 40px;
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#team .team-thumb .heading {
    font-weight: bold;
    position: relative;
    top: 10px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#team .team-thumb:hover {
    background: #eeeeee;
}

#team .team-thumb:hover .image-holder {
    top: -40px;
    margin-bottom: 0px;
}

#team .team-thumb:hover .heading {
    top: -10px;
}

#team .team-thumb .description {
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

#team .team-thumb:hover .description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#team .team-thumb:hover p.description {
    color: #1b1b1b;
}


/*---------------------------------------
   PORTFOLIO SECTION         
-----------------------------------------*/

#portfolio {
    background-color: #f9f9f9;
    padding-top: 80px;
}

#portfolio .title {
    margin-bottom: 50px;
}

#portfolio .col-md-3,
#portfolio .col-sm-3 {
    padding: 0;
    margin: 0;
}

.portfolio-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.portfolio-item-content {
    color: #eeeeee;
}

.portfolio-item-title {
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}

.portfolio-thumb {
    overflow: hidden;
    margin: 0;
    position: relative;
}

.portfolio-overlay {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #4caf50;
    color: #ffffff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0 40px;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

.portfolio-thumb:hover .portfolio-overlay {
    opacity: 0.8;
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    cursor: pointer;
}

.portfolio-overlay .fa {
    border: 1px solid #666;
    border-radius: 0;
    color: #666;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    margin-right: 6px;
}


/* FILTER CSS */

.filter-wrapper {
    width: 100%;
    margin: 0 0 100px 0;
    overflow: hidden;
    text-align: center;
    direction: rtl;
    padding: 15px 0 15px 0;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}


/* ISOTOPE BOX CSS */

.iso-box-section {
    width: 100%;
}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}

.iso-box>a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.iso-box>a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fluid-img {
    width: 100%;
    display: block;
    height: auto;
}


/*------------------------------------------------------
	BOARD SECTION 
--------------------------------------------------------*/

#board {
    background-color: #f9f9f9;
    padding: 80px 0;
}

.testimonial {
    text-align: center;
}

.testimonial-description {
    font-size: 20px;
    line-height: 1.8em;
    margin: 40px 0 50px 0;
}

.testimonial-content {
    width: 80%;
    margin: 0 auto;
}

.testimonial-author {
    margin-bottom: 40px;
    color: #aaaaaa;
}

.testimonial-author:before,
.testimonial-author:after {
    content: "-";
    color: #c3c3c3;
    margin: 0 10px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent;
    text-indent: -9999px;
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 6px;
    border: 2px solid #aaaaaa;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #ff554e;
    border-color: #ff554e;
}


/*---------------------------------------
    BLOG SECTION             
-----------------------------------------*/

#blog {
    margin-top: 150px;
    margin-bottom: 150px;
}

#blog .blog-thumb {
    width: 90%;
    padding: 20px;
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
}

#blog .blog-thumb .description {
    font-size: 18px;
}

#blog .post-date {
    font-size: 0.8rem;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(76, 175, 80, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
    height: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}

.fadeIn-top {
    top: 20%;
}

.fadeIn-left {
    left: 20%;
}

.fadeIn-right {
    left: 80%;
}


/*---------------------------------------
    VIDEO SECTION             
-----------------------------------------*/

#video {
    margin-bottom: 150px;
}

#video .blog-thumb {
    width: 90%;
    padding: 20px;
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
}

#video .blog-thumb .description {
    font-size: 18px;
}

#video .post-date {
    font-size: 0.8rem;
}

#video .play-button {
    background-image: url("../images/icons8_Play_Button_Circled.svg");
    background-repeat: round;
    position: absolute;
    height: 30%;
    width: 30%;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    opacity: 0.8;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

#video .content:hover .play-button {
    opacity: 0;
}


/*---------------------------------------
    HIRE PAGE              
-----------------------------------------*/

#hire {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100%;
    width: 100%;
}

#hire h2 {
    font-size: 2rem;
}

#hire .form-control {
    background: transparent;
    border: 1px solid rgb(233, 237, 238);
    border-radius: 0px;
    color: #1b1b1b;
    margin: 10px 0 10px 0;
    border-radius: 10px;
}

#hire .text-center {
    margin-bottom: 50px;
}

#hire input {
    height: 60px;
}

#hire .form-control:focus {
    border-color: #4caf50;
    box-shadow: none;
}

#hire input[type="submit"] {
    background-color: #4caf50;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 1px;
    width: 220px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 35px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#hire input[type="submit"]:hover {
    background: #88dd8b;
}

#hire .address {
    padding: 20px;
    padding-top: 20px;
    margin: 0;
    text-align: start;
}

#hire .fa {
    color: #4caf50;
    font-size: 20px;
    padding: 6px 10px 6px 0;
    font: normal normal normal 22px/1 FontAwesome;
}

#hire .card {
    text-align: center;
    width: 100%;
    height: 250px;
    background: white;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

#hire .card:hover {
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

#hire .image-holder {
    height: 50%;
}

#hire .content-holder {
    height: 50%;
}

#hire .dark-round-btn {
    color: #FFF;
}


/*---------------------------------------
   VIDE-CAST PAGE         
-----------------------------------------*/

#video-cast .play-button {
    background-image: url("../images/icons8_Play_Button_Circled.svg");
    background-repeat: round;
    position: absolute;
    height: 30%;
    width: 30%;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    opacity: 0.8;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

#video-cast .video-content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
}

#video-cast .video-content img {
    width: 100%;
}

#video-cast .video-content .content-overlay {
    background: rgba(76, 175, 80, 0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

#video-cast .video-content:hover .content-overlay {
    opacity: 1;
}

#video-cast .video-content:hover .play-button {
    opacity: 0;
}

#video-cast .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#video-cast .video-content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

#video-cast .fadeIn-bottom {
    top: 80%;
}


/*---------------------------------------
    BLOG-SINGLE PAGE             
-----------------------------------------*/

#title {
    margin-top: 150px;
    margin-bottom: 100px;
    direction: rtl;
}

#title h1 {
    font-size: 6rem;
    width: 100%;
}

#title .author-thumb {
    width: 64px;
    height: 64px;
}

.author-box img {
    margin-left: 20px;
}

.author-box .row {
    direction: rtl;
}

.author-box p {
    margin: 0;
}

.post-content {
    width: 100%;
}

.post-content .post-content-wrapper {
    padding: 40px 85px 85px 85px;
}

@media (max-width:1200px) {
    .post-content .post-content-wrapper {
        padding: 10px 30px 30px 30px;
    }
}

#portfolio-crousel .carousel-indicators li {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #4caf50;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
}

#portfolio-crousel .carousel-indicators li.active {
    background-color: #4caf50;
}

#title .fa-calendar {
    font-size: 2rem;
    color: #4caf50;
}

.blog-post-image {
    max-width: 100%;
    max-height: 100%;
}


/*---------------------------------------
   BLOG PAGE         
-----------------------------------------*/

.my-text {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


/*---------------------------------------
   CONTACT SECTION         
-----------------------------------------*/

#contact {
    background: #303030;
    color: #EEE;
    padding: 80px 0 80px 0;
}

#contact .form-control {
    background: transparent;
    border: 1px solid #444;
    border-radius: 0px;
    color: #FFF;
    margin: 10px 0 10px 0;
}

#contact .text-center {
    margin-bottom: 50px;
}

#contact input {
    height: 60px;
}

#contact .form-control:focus {
    background: #444444;
    border-color: transparent;
    box-shadow: none;
}

#contact input[type="submit"] {
    color: #FFF;
    font-weight: 600;
    letter-spacing: 1px;
    width: 220px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#contact input[type="submit"]:hover {
    background: #4caf50;
    border-color: transparent;
    color: #FFF;
}

#contact .address {
    padding: 20px;
    padding-top: 20px;
    margin: 0;
    text-align: start;
}

#contact .fa {
    color: #4caf50;
    font-size: 20px;
    padding: 6px 10px 6px 0;
    font: normal normal normal 22px/1 FontAwesome;
}

a {
    color: #4caf50;
}

a:hover,
a:active {
    color: #4caf50;
    text-decoration: none;
}


/*---------------------------------------
   FOOTER SECTION        
-----------------------------------------*/

footer {
    border-top: 1px solid #404040;
    background: #202020;
    color: #FFF;
    padding: 80px 0 40px 0;
}

footer .footer-text {
    width: 100%;
}


/*---------------------------------------
   BACK TOP         
-----------------------------------------*/

.go-top {
    background-color: #ffffff;
    box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12);
    transition: all 1s ease;
    bottom: 2em;
    right: 2em;
    color: #1b1b1b;
    font-size: 26px;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    border-radius: 100%;
}

.go-top:hover {
    background: #4caf50;
    color: #ffffff;
}


/*---------------------------------------
    ALL SECTIONS             
-----------------------------------------*/

::selection {
    background: #4caf50;
    color: #eeeeee;
}

 ::-moz-selection {
    background: #4caf50;
    color: #eeeeee;
}

.overlay {
    background: #000000;
    opacity: 0.75;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #eeeeee;
}

.title-layout {
    margin-bottom: 50px;
}

.content-layout {
    margin-top: 50px;
}

.add-margin-bottom {
    margin-bottom: 100px;
}

.add-margin-top {
    margin-top: 100px;
}

.dark-color {
    background-color: #666
}

.link-btn {
    font-family: 'IranSans', sans-serif;
    color: rgb(30, 30, 30);
    font-size: 16px;
    font-weight: normal;
}

.link-btn:hover {
    visibility: visible;
    color: #4caf50;
}

.btn {
    border: none;
    border-radius: 15px;
    color: #1b1b1b;
    transition: all 0.4s ease-in-out;
}

.btn:focus {
    background: #4caf50;
    border-color: transparent;
}

.btn-success {
    background: transparent;
    border: 2px solid #1b1b1b;
    font-weight: 300;
    padding: 14px 32px;
}

.btn-success:hover {
    background: transparent;
    color: #1b1b1b;
    border-color: #4caf50;
}

.round-btn {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    color: #999999;
    padding: 8px 17px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

.round-btn:focus,
.round-btn:hover,
.round-btn.selected {
    background: #4caf50;
    border-color: transparent;
    color: #ffffff;
}

.social-icon {
    border: 1px solid #FFF;
    border-radius: 50%;
    color: #FFF;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin: 0 4px 24px 6px;
}

.dark-social-icon {
    border: 1px solid #4caf50;
    border-radius: 50%;
    color: #4caf50;
}

.social-icon:hover {
    border-color: transparent;
    background: #4caf50;
    color: #eeeeee
}

.no-border {
    border: none;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.responsive-img {
    width: 100%;
    height: 100%;
}

.wrap-text {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}

.video-cast {
    background-color: #1b1b1b;
}

.dark-round-btn {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 8px 5px;
    display: inline-block;
    text-decoration: none;
    background-color: #4caf50;
    font-weight: 600;
    letter-spacing: 1px;
    width: 150px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.dark-round-btn:focus,
.dark-round-btn:hover,
.dark-round-btn.selected {
    background: #87d38a;
    border-color: transparent;
    color: #ffffff;
}

.progress-bar {
    background-color: #4caf50;
}

.progress {
    height: 2px;
}

.fit-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*---------------------------------------
   RESPONSIVE MOBILE         
-----------------------------------------*/

@media (max-width: 768px) {
    #home,
    .overlay {
        height: 100vh;
    }
}

@media (max-width:1200px) {
    #blog .blog-thumb {
        width: 100%;
    }
}